body {
  font-family: 'Lora', serif;
  margin: 0;
  background-color: #365023;
  color: #eeeeee;
}

/*Header*/

.topbar {
  height: 700px;
}

.topbar h1 {
  text-align: center;
  margin: 0;
  height: 300px;
  padding: 120px;
  font-size: 60px;
}

.topbar img {
  width: 100%;
  height: 450px;
}

/*Intro*/

.intro {
  text-align: center;
  height: 300px;
}

.intro h2 {
  font-size: 30px;
  padding: 30px;
}

/*images*/

div.profile {
  height: 600px;
}

div.pet {
  float: left;
  width: 30%;
  margin: 15px;
}

.pet h2 {
  text-align: center;
}

img {
  width: 100%;
  height: 400px;
}

/*descriptions*/

.pet div {
  padding: 15px;
}
